<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <pipelines>
            <commerce.reviews.addProductReview>
                <processor type="MashedPotatoes.Feature.Reviews.Pipelines.Reviews.AddProductReview, MashedPotatoes.Feature.Reviews"/>
            </commerce.reviews.addProductReview>
            <commerce.reviews.getProductReviews>
                <processor type="MashedPotatoes.Feature.Reviews.Pipelines.Reviews.GetProductReviews, MashedPotatoes.Feature.Reviews"/>
            </commerce.reviews.getProductReviews>
        </pipelines>
        <services>
            <register 
                serviceType="MashedPotatoes.Feature.Reviews.Controllers.ReviewsController, MashedPotatoes.Feature.Reviews" 
                implementationType="MashedPotatoes.Feature.Reviews.Controllers.ReviewsController, MashedPotatoes.Feature.Reviews" 
                lifetime="Transient"/>
        </services>
    </sitecore>
</configuration>